    {% extends 'base.html' %}

    {% block styles %}
    <style>
        body {
            background-color: #f4f4f9;
            font-family: 'Arial', sans-serif;
        }
        .character-container {
            max-width: 600px;
            margin: auto;
        }
        .character-card {
            background: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        .character-title {
            text-align: center;
            color: #333;
        }
        .icon {
            margin-right: 8px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    {% endblock %}

    {% block title %}{{ film.label|first }}{% endblock %}

    {% block content %}
    <div class="container mt-5">
        <div class="character-container" vocab="http://localhost:8000/ontology#"
        prefix="wd: https://www.wikidata.org/wiki/Property: rdf: rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        typeof="Film" about="http://localhost:8000/resource/episode-i-the-phantom-menace">
            <h2 class="character-title"><i class="fas fa-film me-2"></i><span property="rdf:label">{{ film.label|first }}</span></h2> <!-- Display the first value of label -->
            <div class="card character-card">
                <div class="card-body">
                    <p><i class="fas fa-calendar-alt icon"></i><strong>Release Date: </strong><span property="release_date">{{ film.release_date|first }}</span></p>
                    <p><i class="fas fa-user-tie icon"></i><strong>Director:</strong><span property="director">{{ film.director|first }}</span></p>
                    <p><i class="fas fa-users icon"></i><strong>Producers:</strong> 
                        {% for producer in film.producer %}
                            <span property="producer">{{ producer }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p><i class="fas fa-paragraph icon"></i><strong>Opening Crawl:</strong><span property="opening_crawl">{{ film.opening_crawl|first }}</span></p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}