{% extends 'base.html' %}

{% block styles %}
<style>
        body {
            background: url('https://t4.ftcdn.net/jpg/02/22/57/71/360_F_222577179_MTxLtAKP3nwY5LEyKva28oCt0xO4qxJ2.jpg');
            font-family: 'Arial', sans-serif;
            color: #f0f0f0;
        }

        .navbar{
            color:#000;
        }

        .list-group-item {
            background-color: rgba(30, 30, 40, 0.9) !important;
            border: 1px solid rgba(255, 255, 255, 0.1) !important;
            color: #f0f0f0 !important;
        }

        .list-group-item a {
            color: #9dd1ff !important;
            text-decoration: none;
        }

        .list-group-item a:hover {
            text-decoration: underline;
        }

        .btn-primary {
            background-color: #5c5cff !important;
            border: none !important;
        }

        .add-btn{
            background-color: #5c5cff !important;
            border: none !important;
        }


        .btn-primary:hover {
            background-color: #7777ff !important;
        }

        .btn-danger {
            background-color: #ff5c5c !important;
            border: none !important;
        }

        .btn-danger:hover {
            background-color: #ff7777 !important;
        }

        h1 {
            color: #ffffff !important;
            text-shadow: 1px 1px 3px #000;
        }

        .nav-link {
            color: #ffffff !important;
        }

        .nav-link.active {
            background-color: #444475 !important;
        }

        .modal-content {
            background-color: #1e1e2a !important;
            color: #f0f0f0 !important;
        }

        .modal-header {
            border-bottom: 1px solid #555 !important;
        }

        .btn-close {
            filter: invert(1);
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block title %}Music List{% endblock %}

{% block content %}
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-graph-tab" data-bs-toggle="pill" data-bs-target="#pills-graph"
                    type="button" role="tab" aria-controls="pills-graph" aria-selected="true">Graph view
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-list-tab" data-bs-toggle="pill" data-bs-target="#pills-list"
                    type="button" role="tab" aria-controls="pills-list" aria-selected="false">List view
            </button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade" id="pills-graph" role="tabpanel" aria-labelledby="pills-graph-tab">
            {{ graph_html | safe }}
        </div>
        <div class="tab-pane fade show active" id="pills-list" role="tabpanel" aria-labelledby="pills-list-tab">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1>Star Wars Music</h1>
                </div>
                <ul class="list-group">
                    {% for url,label in music %}
                        <li class="list-group-item">
                            <a class="me-auto" href="{{ url }}">{{ label }}</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">No music found</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        // Custom JavaScript for interactive graph nodes
        network.on("click", function (params) {
            if (params.nodes.length > 0) {
                var nodeId = params.nodes[0];
                var node = network.body.data.nodes.get(nodeId);
                if (node && node.url) {
                    window.open(node.url, "_blank");
                }   
            }
        });
    </script>
{% endblock %}