{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block title %}Weapons List{% endblock %}

{% block content %}
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-graph-tab" data-bs-toggle="pill" data-bs-target="#pills-graph"
                    type="button" role="tab" aria-controls="pills-graph" aria-selected="true">Graph view
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-list-tab" data-bs-toggle="pill" data-bs-target="#pills-list"
                    type="button" role="tab" aria-controls="pills-list" aria-selected="false">List view
            </button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade" id="pills-graph" role="tabpanel" aria-labelledby="pills-graph-tab">
            {{ graph_html | safe }}
        </div>
        <div class="tab-pane fade show active" id="pills-list" role="tabpanel" aria-labelledby="pills-list-tab">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1>Star Wars Weapons</h1>
                </div>
                <ul class="list-group">
                    {% for url,label in weapons %}
                        <li class="list-group-item">
                            <a class="me-auto" href="{{ url }}">{{ label }}</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">No weapons found</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        // Custom JavaScript for interactive graph nodes
        network.on("click", function (params) {
            if (params.nodes.length > 0) {
                var nodeId = params.nodes[0];
                var node = network.body.data.nodes.get(nodeId);
                if (node && node.url) {
                    window.open(node.url, "_blank");
                }
            }
        });
    </script>
{% endblock %}